body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.container {
    padding-top: 20px;
}
    
.inventarist-add-form {
    display: none;

    border: solid 1px gray;
    border-radius: 10px;
    text-align: center;
    padding: 10px;

}

.show {
    display: block;
}


input.ng-pristine {
    -moz-box-shadow:    0 0 2px 0 #AFEEEE;
    -webkit-box-shadow: 0 0 2px 0 #AFEEEE;
    box-shadow:         0 0 2px 0 #AFEEEE;
}

input.ng-valid.ng-dirty {
    -moz-box-shadow:    0 0 2px 0 #83F52C;
    -webkit-box-shadow: 0 0 2px 0 #83F52C;
    box-shadow:         0 0 2px 0 #83F52C;
}

input.ng-invalid.ng-dirty {
    -moz-box-shadow:    0 0 4px 0 red;
    -webkit-box-shadow: 0 0 4px 0 red;
    box-shadow:         0 0 4px 0 red;
}
