<div class="inventarist-add-button">
    <button class="button" ng-click="toggle()">Tambah product</button>

    <div ng-class="{show: show}" class="inventarist-add-form">
        <form ng-submit="submit({product: product})">
            Nama: <input type="text" ng-model="product.name" ng-text required>
            Quantity: <input type="number" ng-model="product.quantity" min="0" required>
            Limit: <input type="number" ng-model="product.limit" min="0" required>

            <button>Tambah!</button>
        </form>
    </div>

</div>